<%- include("partial/header.ejs") %>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="">Title</label>
        <br>
        <input type="text" name="title" id="">
        <br>
        <label for="">Post</label>
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Publish</button>
        <br>
    </form>





<%- include("partial/footer.ejs") %>